.git
.runtime
**/.runtime
**/node_modules
tools/yaml-graph-sqlite/out
generated
projects
basissoftware/*
!basissoftware/esp32
!basissoftware/esp32/**
basissoftware/esp32/managed_components
*.log
.DS_Store
